<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
 <link rel="stylesheet" href="../css/styles.css">
<!--angular js files -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" ></script>
  <script type="text/javascript" src="../js/controllers/restaurant_controller.js" ></script>



<script
        src="http://code.jquery.com/jquery-3.1.1.js"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.js"></script>
         <script type="text/javascript" src="../js/restvalidator.js" ></script>
        
        <!--getmdl-select-->
<!--getmdl-select-->   
   <link rel="stylesheet" href="https://cdn.rawgit.com/CreativeIT/getmdl-select/master/getmdl-select.min.css">
   <script defer src="https://cdn.rawgit.com/CreativeIT/getmdl-select/master/getmdl-select.min.js"></script>   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

   Compiled and minified JavaScript 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
      -->    

<!-- Bootstrap files for validation
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 -->
<!-- Optional theme 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
-->
<!-- Latest compiled and minified JavaScript 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
  <title>Add Restaurant</title>
</head>
<body>
  <body >
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Add Restaurant</span>
          <div class="mdl-layout-spacer"></div>

          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">About</li>
            <li class="mdl-menu__item">Contact</li>
            <li class="mdl-menu__item">Legal information</li>
          </ul>
        </div>
      </header>
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
          
          <div class="demo-avatar-dropdown">
            <span>Admin</span>
            <div class="mdl-layout-spacer"></div>
            <!-- <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">arrow_drop_down</i>
              <span class="visuallyhidden">Accounts</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <li class="mdl-menu__item">hello@example.com</li>
              <li class="mdl-menu__item">info@example.com</li>
              <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
           
              <li class="mdl-menu__item">Logout</li>
            </ul> --> 
          </div>
        </header>
         <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" href="/admin"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
          <a class="mdl-navigation__link" href="/admin/food"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">local_dining</i>Manage Food</a>
          <a class="mdl-navigation__link" href="/admin/rest"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">restaurant</i>Manage Restaurant</a>
          <a class="mdl-navigation__link" href="/admin/feedback" ><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">feedback</i>Manage Feedback</a>
         <a class="mdl-navigation__link" id="logout"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">power_settings_new</i>Logout</a>
     </nav>
      </div>
      <main id="main" class="mdl-layout__content mdl-color--grey-100">
         <div class="formContainer">
    <form method="post" id="restaurant-form" action="/admin/rest/add" novalidate action="manage_food.html" autocomplete="off" >
    
      <table>          
         
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input col-span-3 validate" type="text" id="name" name="name"  >
              <label class="mdl-textfield__label data-error" for="sample3" >Name</label>
             </div>
            
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input validate" type="text" id="address" name="address" >
              <label class="mdl-textfield__label" for="sample3">Address</label>
            </div>
        
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
              <input maxlength="10" id="mobile" type="number" pattern="[789][0-9]{9}" name="phone"   class="  mdl-textfield__input"  >
             <label class="mdl-textfield__label" for="mobile">Mobile </label>
            </div>
            
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input validate" type="email" name="email" >
              <label class="mdl-textfield__label" for="sample3">Email</label>
            </div>
           <!--<div>
           <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="open">
              <input type="checkbox" id="open" name="open" class="mdl-checkbox__input" >
              <span class="mdl-checkbox__label">Open</span>
            </label>
      </div>-->
      
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
              <input class="mdl-textfield__input" type="email" name="owner_email" >
              <label class="mdl-textfield__label" for="sample3">Owner's Email</label>
            </div>
        
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
             <input class="mdl-textfield__input" type="" name="website" >
             <label class="mdl-textfield__label" for="sample3">Website</label>
            </div>
        
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
             <input class="mdl-textfield__input" type="time" name="otime">
             <label class="mdl-textfield__label" for="sample3">Opening Time</label>
            </div>
          
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="time" name="ctime">
              <label class="mdl-textfield__label" for="sample3">Closing Time</label>
            </div>
        
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
             <input class="mdl-textfield__input" type="text" name="city" >
             <label class="mdl-textfield__label" for="sample3">City</label>
            </div>
        
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
             <input class="mdl-textfield__input" type="number" name="zipcode" maxlength="6" >
            <label class="mdl-textfield__label" for="sample3">Zipcode</label>
           </div>
          
           <fieldset>
             <legend class="mdl-js-textfield">Location</legend>
            
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="lat" name="lat" >
                <label class="mdl-textfield__label" for="lat">Latitude</label>
              </div>
              
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="long" name="long" >
                <label class="mdl-textfield__label" for="long">Longitude</label>
              </div>
          </fieldset>  
      
      <!--    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" type="text" name="country_id" >
           <label class="mdl-textfield__label" for="sample3">Country Id</label>
          </div>
      
           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height">
                <select>
                  <option class="mdl-menu__item">Italian</option>
                  <option class="mdl-menu__item">Chinese</option>
                  <option class="mdl-menu__item">South Indian</option>
                  <option class="mdl-menu__item">Punjabi</option>
                  <option class="mdl-menu__item">Gujarati</option>
                </select>
                <label class="food-type" >Select Menu</label>
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height">
                 <label for="food-type"><input class="mdl-textfield__input" type="text" id="food-type" value="Select">
              
                  <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                </label>
                <label for="food-type" class="mdl-textfield__label">Food Type</label>
                <ul for="food-type" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                  <li class="mdl-menu__item" data-val="itn">Italian</li>
                  <li class="mdl-menu__item" data-val="chn">Chinese</li>
                  <li class="mdl-menu__item" data-val="si">South Indian</li>
                  <li class="mdl-menu__item" data-val="pun">Punjabi</li>
                  <li class="mdl-menu__item" data-val="guj">Gujarati</li>

                </ul>
            </div>
          
          
             <div class="mdl-select mdl-js-select mdl-select--floating-label">
                    <select class="mdl-select__input" id="professsion" name="professsion">
                      <option value="input"></option>
                      <option value="option1">option 1</option>
                      <option value="option2">option 2</option>
                      <option value="option3">option 3</option>
                      <option value="option4">option 4</option>
                      <option value="option5">option 5</option>
                    </select>
                    <label class="mdl-select__label" for="professsion">Profession</label>
                  </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                 <input class="mdl-textfield__input" value="Belarus" type="text" id="country" tabIndex="-1" />
                   <label class="mdl-textfield__label" for="country">Country</label>
                   <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="country">
                     <li class="mdl-menu__item" value="Belarus">Belarus</li>
                     <li class="mdl-menu__item" value="Russia">Russia</li>
                   </ul>
               </div>
               <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fullwidth">
                        <input class="mdl-textfield__input" type="text" id="sample1" value="" >
                        <label for="sample1" class="mdl-textfield__label">Country</label>
                        <ul for="sample1" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                            <li class="mdl-menu__item">Germany</li>
                            <li class="mdl-menu__item">Belarus</li>
                            <li class="mdl-menu__item">Russia</li>
                        </ul>
                    </div>
                    
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height">
                        <input class="mdl-textfield__input" type="text" id="sample2" value="Belarus" tabIndex="-1">
                        <label for="sample2">
                            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                        </label>
                        <label for="sample2" class="mdl-textfield__label">Country</label>
                        <ul for="sample2" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                            <li class="mdl-menu__item" data-val="DE">Germany</li>
                            <li class="mdl-menu__item" data-val="BY">Belarus</li>
                            <li class="mdl-menu__item" data-val="RU">Russia</li>
                        </ul>
                    </div>
            -->
             <fieldset>
               <legend class="mdl-js-textfield">Menu</legend>
         

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" name="itemid1" >
                  <label class="mdl-textfield__label" for="sample3">Item ID 1</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                 <input class="mdl-textfield__input" type="number" step="0.01" name="pricei1" >
                 <label class="mdl-textfield__label" for="sample3">Price</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                 <input class="mdl-textfield__input" type="text" name="itemid2" >
                 <label class="mdl-textfield__label" for="sample3">Item 2</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                 <input class="mdl-textfield__input" type="number" step="0.01" name="pricei2" >
                 <label class="mdl-textfield__label" for="sample3">Price</label>
                </div>

               <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" name="itemid3" >
                <label class="mdl-textfield__label" for="sample3">Item 3</label>
               </div>

               <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="number" step="0.01" name="pricei3" >
                <label class="mdl-textfield__label" for="sample3">Price</label>
               </div>
            </fieldset>
        <!--
        
        
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                     <input class="mdl-textfield__input" type="text" name="item4" >
                     <label class="mdl-textfield__label" for="sample3">Item 4</label>
                    </div>
                      
                      
                       <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                     <input class="mdl-textfield__input" type="number" step="0.01" name="price4" >
                     <label class="mdl-textfield__label" for="sample3">Price</label>
                     </div>
                      
                      
              
                
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                     <input class="mdl-textfield__input" type="text" name="item5" >
                     <label class="mdl-textfield__label" for="sample3">Item 5</label>
                    </div>
                      
                      
                       <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                     <input class="mdl-textfield__input" type="number" step="0.01" name="price5" >
                     <label class="mdl-textfield__label" for="sample3">Price</label>
                    </div>
                    -->
                    

                     
                </table>    
                <button type="submit" name="Submit" value="Submit" class="submit-btn center mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Submit</button>
             </form>
          </div>
      </main>
    </div>
    
    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <style type="text/css">
        .formContainer{
  max-width: 80%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
.mdl-js-textfield{
  margin-left: 5%;
  width: 40%
}
      
    .submit-btn{
  display: block;
  margin:auto;
}
    
  
      
  
      
    </style>
    <script src="http://code.jquery.com/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="../js/login.js"></script>
</body>
</html>