<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Update Food</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js" ></script>
    <script type="text/javascript" src="../assets/js/controllers/food_controller.js" ></script>

    <!--Jquery Validator scripts-->
    <script src="http://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
    <script type="text/javascript" src="admin/js/foodvalidator.js"></script>

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon2.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.cyan-light_blue.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
       <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">

    <!-- Template styles -->
    <style rel="stylesheet">
        /* TEMPLATE STYLES */
        /* Necessary for full page carousel*/

        html,
        body,
        .view {
            height: 100%;
        }
        /* Navigation*/
        .nav-tabs
        {
            border-bottom: 0px;
        }
        .navbar {
            background-color: transparent;
            padding: 20px;
        }
        .foodwp
        {
            padding-bottom: 350px;
            background-image: url("./img/food.jpeg");
            background-repeat: no-repeat;
        }
        .ni
        {
            margin-top: 5px;
            padding: 3%;
        }
        .scrolling-navbar {
            -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
            -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
            transition: background .5s ease-in-out, padding .5s ease-in-out;
        }

        .top-nav-collapse {
            background-color: #ff6700;
        }
        .h1{
          color: #ff6700;
        }

        footer.page-footer {
            background-color: #ff6700;
            margin-top: 0;
        }

        @media only screen and (max-width: 768px) {
            .navbar {
                background-color: #f6700;
            }
        }
        /*.navbar.navbar-dark .navbar-nav .nav-item a
        {*/
          /*letter-spacing: 0.3em;*/
         /* padding: 5px;
        }*/
        .navbar .navbar-nav .nav-item
        {
         padding: 5px;   
         font-weight: bolder;
        }
        .top-nav-collapse .navbar.navbar-dark .navbar-nav .nav-item.active
        {
          background-color: #fff
        }
        .top-nav-collapse .navbar.navbar-dark .navbar-nav .nav-item.active a
        {
          color: #ff6700;
        }
        /* Carousel*/
        body
        {background-color: #f7f4f4;}
    </style>


</head>
<body>
            <nav class="navbar navbar-dark navbar-fixed-top scrolling-navbar">

                <!-- Collapse button-->
                <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="container">

                    <!--Collapse content-->
                    <div class="collapse navbar-toggleable-xs" id="collapseEx">
                        <!--Navbar Brand-->
                        <a class="navbar-brand" href="http://mdbootstrap.com/material-design-for-bootstrap/" target="_blank"><b>FOOD</b><i>FIT</i></a>
                        <!--Links-->
                        <ul class="nav navbar-nav pull-right">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">FOOD</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">EXERICSE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">APP</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">LOGIN/SIGNUP</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.Collapse content-->

                </div>

            </nav>
            <!--/.Navbar-->
        <div class="container-fluid">
            <div class="row">
                <div class="section foodwp">
                    
                </div>
            </div>
        </div>
           

        <!--Section: Features v.3-->
        <div class="container-fluid ">
        <div class="row">
          <!-- <div class="section"> -->

                <div class="sec col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="h1-responsive offset-md-4 offset-sm-2 offset-xs-2">Add Food</h1> 
                <br/><br/>   

    <main id="main" class="mdl-layout__content mdl-color--grey-100" ng-app="food">
     <div class="formContainter" style="margin:auto; width:80%;"  ng-controller="food_controller" ng-init="getfood()">

    <form method="POST" action="../admin/food/update" class="form" id="foodform" >
          <div class="mdl-layout" > </div>
          <input name="_id" ng-model="_id" style="display:none">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
           <input class="mdl-textfield__input" type="text" name="fname" ng-model="fname" >
           <label class="mdl-textfield__label" for="fname">Food Name</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input"  name="calories" ng-model="calories">
           <label class="mdl-textfield__label" for="sample3">Calories</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" name="calfat" ng-model="calfat">
           <label class="mdl-textfield__label" for="sample3">Calories from Fat</label>
          </div>

         <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" name="fat" ng-model="fat">
           <label class="mdl-textfield__label" for="sample3">Fat</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" name="carbs" ng-model="carbs" >
           <label class="mdl-textfield__label" for="sample3">Carbohydrates</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" name="fiber" ng-model="fiber" >
           <label class="mdl-textfield__label" for="sample3">Fiber</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" name="protein" ng-model="protein" >
           <label class="mdl-textfield__label" for="sample3">Protein</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" name="vitamin_a" ng-model="vitamin_a">
           <label class="mdl-textfield__label" for="sample3">Vitamin A</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" name="vitamin_c" ng-model="vitamin_c">
           <label class="mdl-textfield__label" for="sample3">Vitamin C</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" name="calcium" ng-model="calcium" >
           <label class="mdl-textfield__label" for="sample3">Calcium</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input" name="iron" ng-model="iron" >
           <label class="mdl-textfield__label" for="sample3">Iron</label>
          </div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
           <input class="mdl-textfield__input"  name="serving" ng-model="serving" >
           <label class="mdl-textfield__label" for="sample3">Serving Size(g)</label>
          </div>

              <div class="">
               <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
               update  <i class="material-icons right">send</i>
              </button>
            </div>
          </form>
        </div>
      </main>
      </div>
      </div>
      </div>
       <footer class="page-footer center-on-small-only">

        <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">

                <!--First column-->
                <div class="col-md-3 offset-md-1">
                    <h1 class="display-4"><b>FOOD</b><i>FIT</i></h1>
                    
                    
                </div>
                <!--/.First column-->

               
                <!--Second column-->
                <div class="col-md-5 offset-md-1">
                    <ul class="nav nav-tabs md-pills pills-ins" role="tablist">
                        <li class="nav-item ni"><a href="#!">HOME</a></li>
                        <li class="nav-item ni"><a href="#!">FOOD</a></li>
                        <li class="nav-item ni"><a href="#!">REPORTS</a></li>
                        <li class="nav-item ni"><a href="#!">APP</a></li>
                        <li class="nav-item ni"><a href="#!">LOGIN/SIGNUP</a></li>
                    </ul>
                </div>
                <!--/.Second column-->

            </div>
        </div>
        <!--/.Footer Links-->

        <!--Call to action-->
        <!-- <div class="call-to-action">
            <h4>Material Design for Bootstrap</h4>
            <ul>
                <li>
                    <h5>Get our UI KIT for free</h5></li>
                <li><a target="_blank" href="http://mdbootstrap.com/getting-started/" class="btn btn-danger">Sign up!</a></li>
                <li><a target="_blank" href="http://mdbootstrap.com/material-design-for-bootstrap/" class="btn btn-default">Learn more</a></li>
            </ul>
        </div> -->
        <!--/.Call to action-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2016 Copyright: <a href="#"> <b>FOOD</b><i>FIT</i> </a>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->


    <!-- SCRIPTS -->

    <!-- JQuery -->
  
    <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>

</body>
</html>