<!DOCTYPE html>
<html>
    <!-- Material Design Lite -->
   	<title>Login</title>
   	<link rel="shortcut icon" href="images/favicon2.png">

    
    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
     
 	<style type="text/css">
 		.loginform{

   margin: auto;
    width: 25%;
    margin-top: 5%;
    padding: 10px;
}
 		
 	
 	</style>
  </head>
  <body >
    <!-- Textfield with Floating Label -->
    <div style="align:right" class="loginform">
    <!--form id="myForm" ng-submit="loginValidate()"-->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" id="email" type="email" id="sample3" ng-model="uname" name="uname" required >
        <label class="mdl-textfield__label" for="sample3">User Mail</label>
      </div>
      <br>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" id="passwd" name="pass" ng-model="pass" type="password" id="sample4" required>
        <label class="mdl-textfield__label" for="sample4">Password</label>
        <span class="mdl-textfield__error">Input is not a number!</span>
      </div>
      <div class="md-layout" id="error" ng-bind="err" style="color:red;"></div>
      <br>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <button id="sbtbtn" class="btn waves-effect waves-teal" onclick="validateLogin()">Login <i class="material-icons right">send</i></button></td>
      </div>
    <!--/form-->
    </div>
    <script type="text/javascript" src="../js/jquery-2.2.3.js" ></script>
    <script type="text/javascript">
      
      /* $('#myForm')
    .click({
        url : '../../admin/login/ap', // or whatever
        dataType : 'json',
        success : function (response) {
            //alert("The server says: " + response);
        }
    });

*/
      if(sessionStorage.isLoggedIn == "admin")
      {
        window.location.replace("/admin");
      }
       function validateLogin() {
            // body...
          //  console.log("function called");
            mail = document.getElementById("email").value;
            passwd = document.getElementById("passwd").value;
             document.getElementById("error").innerHTML = "";
             var xhttp = new XMLHttpRequest();
              xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                   //alert(xhttp.responseText);
                    var name = JSON.parse(xhttp.responseText);
                    //alert(name.firstName);  
                    
                    if(name.firstName =="admin")
                    {
                        sessionStorage.setItem("isLoggedIn", name.firstName);
                        window.location.replace("/admin");
                  // document.getElementById("modal-login").style.display = "none";
                  //      setSession();   
                    }
                    else
                    {
                      document.getElementById("error").innerHTML = "Invalid Username or Password";
                    }
                   
                }   
              };

           //   xhttp.open("GET","http://sen6.herokuapp.com/appuser/login/validate/"+mail+"/"+passwd,true);
              xhttp.open("GET","http://sen6.herokuapp.com/appuser/login/validate/"+mail+"/"+passwd,true);

              xhttp.send();
        }
    </script>
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script> 
    
  </body>
</html>